* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(231, 231, 231);
    font-family: sans-serif;
}

a {
    all: unset;
}

.container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn {
    display: flex;
    font-size: 20px;
    background-color: white;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 2px;
    transition: background-color .3s;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 150px;
    cursor: pointer;
    
}

.btn:hover {
    background-color: rgb(232, 232, 232);
}

.data__input {
    display: block;
    margin-bottom: 10px;
    margin-top: 3px;
    border: 1px solid lightgray;
    padding: 3px;
    font-size: 20px;
    border-radius: 2px;
}

.data__input:focus {
    outline: none;
}

.text__container {
    background-color: white;
    min-height: 100px;
    width: 700px;
    margin-top: 20px;
    border-radius: 2px;
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    padding: 5px;
}

.form {
    margin-top: 5px;
}